doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Mongo Todo
  link(rel='stylesheet', href='/stylesheets/base.css')
body
  block content

  script(src='/vendor/jquery/jquery.js')
  script(src='/vendor/handlebars/handlebars.js')
  script(src='//builds.emberjs.com/release/ember.js')
  //-script(src='/vendor/ember-data/ember-data.js')
  script(src='//builds.erikbryn.com/ember-model/ember-model-latest.js')
  script(src='/javascripts/app.js')
