doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Mongo Todo
  link(rel='stylesheet', href='/stylesheets/base.css')
body
  block content

  script(src='//code.jquery.com/jquery-2.1.0.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js')
  script(src='//builds.emberjs.com/release/ember.js')
  script(src='//builds.erikbryn.com/ember-model/ember-model-latest.js')
  script(src='/javascripts/app.js')
